In [9]:
import pandas as pd
import os

In [10]:
df_path = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\StackOverflow survey data\\survey_results_public.csv")

schema_df_path = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\StackOverflow survey data\\survey_results_schema.csv")

In [14]:
df = pd.read_csv(df_path, index_col='Respondent')
schema_df = pd.read_csv(schema_df_path, index_col='Column')

In [15]:
schema_df.head()

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?
Age         What is your age (in years)? If you prefer not...
Age1stCode  At what age did you write your first line of c...

In [16]:
high_salary = (df['ConvertedComp'] > 70000)

In [17]:
df.loc[high_salary]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
16,I am a developer by profession,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
19,I am a developer by profession,No,24.0,15,Yearly,83400.0,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65586,I am a developer by profession,Yes,NaN,8,Yearly,225000.0,225000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,Mathematics or statistics,NaN,NaN,NaN,50.0,25,15
65589,I am a developer by profession,Yes,NaN,16,Yearly,150000.0,150000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,10,6
65602,"I am not primarily a developer, but I write co...",Yes,NaN,13,Yearly,140000.0,140000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,15,12
65604,I am a developer by profession,No,NaN,13,Weekly,3000.0,150000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,45.0,7,4
65617,I am a developer by profession,Yes,NaN,15,Yearly,120000.0,129718.0,Germany,European Euro,EUR,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,35.0,9,9

In [20]:
df.loc[high_salary, ['Country', 'WebframeWorkedWith', 'ConvertedComp']]

,Country,WebframeWorkedWith,ConvertedComp
Respondent,,,
8,United States,Flask,116000.0
16,United Kingdom,jQuery;React.js,108576.0
17,United States,ASP.NET;Gatsby;jQuery;React.js;Vue.js,79000.0
18,United States,NaN,1260000.0
19,United States,Angular;Angular.js;ASP.NET Core,83400.0
...,...,...,...
65586,United States,NaN,225000.0
65589,United States,NaN,150000.0
65602,United States,NaN,140000.0
65604,United States,NaN,150000.0
65617,Germany,NaN,129718.0

In [21]:
countries = ['United Stets', 'India', 'United Kingdom', 'Germany', 'Canada']
country_filter = df['Country'].isin(countries)

In [23]:
df.loc[country_filter, 'Country']

Respondent
1               Germany
2        United Kingdom
6               Germany
7                 India
10       United Kingdom
              ...
61490    United Kingdom
62464             India
62834            Canada
62954             India
64236             India
Name: Country, Length: 18380, dtype: object

In [25]:
webframe_filter = df['WebframeWorkedWith'].str.contains('ASP.NET Core', na=False)

In [26]:
df.loc[webframe_filter, 'WebframeWorkedWith']

Respondent
1                                     ASP.NET;ASP.NET Core
19                         Angular;Angular.js;ASP.NET Core
21            Angular;ASP.NET Core;Express;React.js;Spring
49                                    ASP.NET;ASP.NET Core
58          Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery
                               ...
59168    Angular;Angular.js;ASP.NET;ASP.NET Core;Django...
61111                         ASP.NET Core;Django;React.js
62954    ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js
64567                                         ASP.NET Core
65112               Angular;Angular.js;ASP.NET Core;jQuery
Name: WebframeWorkedWith, Length: 8082, dtype: object