In [3]:
import pandas as pd
import os

In [4]:
path = os.path.abspath("C:\\Users\\GRIZELLE\\GitHub Projects\\100-Days-Of-Coding-ML\\Datasets\\Digimon dataset\\DigiDB_digimonlist.csv")

df = pd.read_csv(path)

In [5]:
df

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,245,Valkyrimon,Mega,Free,Wind,18,3,1330,139,148,129,129,168
245,246,ShineGreymon BM,Mega,Vaccine,Fire,22,2,1980,114,228,104,84,168
246,247,MirageGaogamon BM,Mega,Data,Light,20,2,1440,124,178,104,158,174
247,248,Ravemon BM,Mega,Vaccine,Wind,20,2,1040,133,149,139,144,213
248,249,Rosemon BM,Mega,Data,Plant,20,2,1480,143,149,139,159,143

In [6]:
df.shape

(249, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Number       249 non-null    int64
 1   Digimon      249 non-null    object
 2   Stage        249 non-null    object
 3   Type         249 non-null    object
 4   Attribute    249 non-null    object
 5   Memory       249 non-null    int64
 6   Equip Slots  249 non-null    int64
 7   Lv 50 HP     249 non-null    int64
 8   Lv50 SP      249 non-null    int64
 9   Lv50 Atk     249 non-null    int64
 10  Lv50 Def     249 non-null    int64
 11  Lv50 Int     249 non-null    int64
 12  Lv50 Spd     249 non-null    int64
dtypes: int64(9), object(4)
memory usage: 25.4+ KB

In [8]:
pd.set_option('display.max_columns', 10)

In [12]:
df.head()

,Number,Digimon,Stage,Type,Attribute,...,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,...,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,...,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,...,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,...,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,...,98,54,59,95,86

In [13]:
df.head(10)

,Number,Digimon,Stage,Type,Attribute,...,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,...,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,...,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,...,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,...,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,...,98,54,59,95,86
5,6,Koromon,In-Training,Free,Fire,...,52,109,93,52,76
6,7,Tanemon,In-Training,Free,Plant,...,64,85,82,73,69
7,8,Tsunomon,In-Training,Free,Earth,...,54,107,92,54,76
8,9,Tsumemon,In-Training,Free,Dark,...,64,108,64,54,93
9,10,Tokomon,In-Training,Free,Neutral,...,86,76,74,74,103

In [14]:
df.tail()

,Number,Digimon,Stage,Type,Attribute,...,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
244,245,Valkyrimon,Mega,Free,Wind,...,139,148,129,129,168
245,246,ShineGreymon BM,Mega,Vaccine,Fire,...,114,228,104,84,168
246,247,MirageGaogamon BM,Mega,Data,Light,...,124,178,104,158,174
247,248,Ravemon BM,Mega,Vaccine,Wind,...,133,149,139,144,213
248,249,Rosemon BM,Mega,Data,Plant,...,143,149,139,159,143